<footer class="row">
    <div class="col-md-3 col-12">
        <img src="assets/banners/IMG_4175-2048x873.png" alt="">
    </div>
    <div class="col-md-3 col-12">
        <h1 class="titulo">Menú</h1>
        <ul>
            <li><a href="#"><span class="decoration"> > </span>inicio</a></li>
            <li><a href="#quienes-somos"><span class="decoration"> > </span>Quienes Somos</a></li>
            <li><a href="#catalogo"><span class="decoration"> > </span>Catálogo</a></li>
            <li><a href="#contacto"><span class="decoration"> > </span>Contacto</a></li>
        </ul>
    </div>
    <div class="col-md-6 col-12">
        <h1 class="titulo">Contacto</h1>
        <div class="row">
            <div class="col-md-6 col-12">
                <p class="contacto text-center ">- FÁBRICA DOSQUEBRADAS - 
                    <br>
                    Cra 15 Bis No. 25-120 Zona 
                    <br> Industrial Balalaika 
                    <br>
                    Dosquebradas - Risaralda 
                    <br> 
                    <span class="material-symbols-outlined">
                        call
                    </span>
                        + 606 3419393
                </p>
            </div>
            <div class="col-md-6 col-12">
                <p class="contacto text-center">- FÁBRICA BOGOTÁ - 
                    <br>
                    Calle 12 No. 42a-12 Puente 
                    <br> Aranda 
                    <br>
                    Bogotá D.C. 
                    <br>
                    <span class="material-symbols-outlined">
                        call
                    </span>
                    +602 3900678 EXT. 205
                </p>
            </div>
            
        </div>
    </div>
</footer>