<div class="row">
    <div class="col-12">
        <h1 class="text-center">
            Catálogo {{catalogo!.titulo}}
        </h1>
    </div>
    <div class="col-12">
        <ul class="text-center">
            <li (click)="filtrar('todo')">Todo</li>
            <li *ngFor="let categoy of categorias" (click)="filtrar(categoy)">{{categoy}}</li>
        </ul>
    </div>
    <div class="col-md-3 col-12 mb-3" *ngFor="let c of catalogo!.categorias!" (click)="abrir_imagenes(c.hijos!)">
        <div class="container-fluid p-3">
            <img src="{{c.url}}" alt="" class="card-img-top">
        </div>
    </div>
    <app-formulario class="col-12"></app-formulario>
    <div class="btn-wsp">
        <a href="https://api.whatsapp.com/send?phone=573104142337" target="_blank">
            <img src="assets/whatsapp.png" alt="">
        </a>
    </div>
</div>