div {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.imagenprincipal{
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
    margin: 5px;
}